@keyframes keyframes_move {
    0% {
        color: black;
        top: 0px;
    }

    50% {
        color: blue;
        top: 50px;
    }

    10% {
        color: black;
        top: 100px;
    }
}

.move {
    animation: keyframes_move 5s infinite;
}